{% extends 'base.html' %}

{% block title %}Build Guide - PC Parts Store{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <!-- Flash messages -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning mt-3" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="removeFlash()"></button>
</div>
{% endfor %}
<div class="container py-4">
<section class="mb-5">
    <h2 class="mb-4">Build Guide</h2>
    <h3>We currently do not have a dynamic build guide, please refer to our partner's at PC Part Picker</h3>
    <ul style="list-style-type: none;">
        <a href="https://pcpartpicker.com/guide/"><li>PC Part Picker Guide</li></a>
    </ul>
</section>
{% endblock %}
