
<!-- Python's 'Flask' module uses the 'Jinja' web template engine to manage its template inheritance. -->

<!-- 'Index.html' is an extension of 'Base.html' -->
{% extends 'base.html' %}

<!-- Begin head -->
{% block head %}
<title>Reset password</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_log_in.css') }}">
{% endblock %}
{% block body %}
<br><br><br><br><br>
<div class="box">
<h1>Reset Password</h1>
<form action="resetpw.php" method="post">
    <label for="password">Enter your new password:</label>
    <input type="password" id="password" name="password"><br><br>
    <button>Verify</button>
</form>
</div>
{% endblock %}